@{
    ViewBag.Title = "Experts";
}


<div class="row">
    <div class="col-md-12">
        <h2><i class="fa fa-user" aria-hidden="true"></i></i> @ViewBag.Title.</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Find an expert or register your skills etc...</p>
    </div>
</div>


