@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Invite an expert to your place for free!</h2>
    <p class="lead">
        Bring the discussion to your workplace and engage with experts from your area over lunch.
    </p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="fl-text-center">How does it work?</h2>
        <p></p>
        <div class="col-md-6">
            <h2>Find an expert</h2>
            <p>
                Arrange a lunch with an expert where you can discuss a topic that interests you.
            </p>
        </div>
        <div class="col-md-6">
            <h2>Buy, eat and learn</h2>
            <p>
                There is no such thing as a free lunch, so buy a lunch for your expert and learn in the context of your workplace.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="fl-text-center">What is it?</h2>
        <p></p>
    </div>
    <div class="col-md-12">
        <p>
            The intention of freelunch.uk is to facilitate "brown bag" meetings which are an informal meeting that takes place over lunch.
            This type of meeting is called a brown bag meeting because participants normally provide their own lunches. But as you are inviting an expert
            to come and speak at your meeting we think it is only fair for you to provide the speakers lunch.
            In the business world, a brown bag meeting would take place in the office, probably in the conference room.
            Brown bag meetings save companies money because they don't have to supply food or drink for the attendees.
            If a business wants to host a more formal meeting, it might do so at a classy restaurant and pay for every participant's food and drink.
        </p>
    </div>
</div>
