@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Invite an expert to your place for free!</h2>
    <p class="lead">
        Bring the discussion to your workplace and engage with experts from your area over lunch.
    </p>
</div>
<div class="row">
    <div class="col-md-8 text-center">
        <h2>How does it work?</h2>
        <p></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Find an expert</h2>
        <p>
            Arrange a lunch with an expert in a topic that interests you.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Buy lunch</h2>
        <p>
            After all there is no such thing as a free lunch.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Eat and learn</h2>
        <p>
            Learn from the expert in the context of your workplace.
        </p>
    </div>
</div>
