@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h2>Invite a specialist to your place for free!</h2>
    <div class="lead">
        Bring the discussion to your workplace and engage with specialists from your local area over lunch.
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>How does it work?</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>Find a specialist</h4>
        <p>
            Are you hungry for knowledge? Arrange a lunch with a specialist where you can discuss a topic that interests you.
        </p>
    </div>
    <div class="col-md-6">
        <h4>Buy, eat and learn</h4>
        <p>
            There is no such thing as a free lunch, so buy a meal for your specialist and learn in the context of your workplace.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>What is it?</h2>
        <p>
            The intention of meetfreelunch.uk is to facilitate a "brown bag lunch" which are an informal meeting that takes place over lunch.
            This type of meeting is called a brown bag meeting because participants normally provide their own lunches. But as you are inviting a specialist
            to come and speak at your meeting, we think it is only fair for you to provide the speakers lunch.
            In the business world, a brown bag meeting would take place in the office, probably in the conference room.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h4>Being a specialist</h4>
        <p>
            As a specialist you have the chance of sharing your knowledge of a subject you are passionate about.
        </p>
    </div>
    <div class="col-md-6">
        <h4>Providing lunch</h4>
        <p>
            As the host you have a chance to engage with a specialist, discussing a subject that you have little or no knowledge of but are keen to investigate.
        </p>
    </div>
</div>
