@{
    ViewBag.Title = "Lunch";
}

<div class="well well-lg">
    <h2><i class="fa fa-cutlery" aria-hidden="true"></i> @ViewBag.Title.</h2>
    <br />

    <div>
        Register your interest in hosting a lunch or find a proposed lunch etc....
    </div>
</div>

