
@{
    ViewBag.Title = "Privacy";
}

<h1>Privacy</h1>
<h2>Cookies</h2>
<p>When you visit this site, cookies will be placed on your machine for tracking visitor activity anonymously; targeting advertisements by interest; and remembering user preferences.</p>
<p>
    I set a cookie to remember that you don't want to see the banner at the top of the page that warns you about cookies on this site. If you click the "I'm happy with this" button,
    you will not see this banner on future visits* and you will opt in to having a cookie placed on your machine by me.
</p>
<p>This site makes use of some third party services who also store cookies (Third party cookies) on your machine. These services are</p>
<ul>
    <li><a href="https://tools.google.com/dlpage/gaoptout">Google Analytics</a></li>
    <li><a href="https://www.google.com/settings/ads/">Google AdSense</a></li>
    <li><a href="http://www.addthis.com/privacy">AddThis</a></li>
</ul>
<p>You can click on each of the services to learn how to opt out of accepting cookies from them.</p>
<p>If you would like more general information on controlling cookies, please visit <a href="http://www.aboutcookies.org/">www.aboutcookies.org</a>.</p>
<p>&nbsp;</p>
<p>*Note: cookies are browser-specific. If you visit using a different browser or on another machine, you may see the banner again.</p>
<h2>Personal Information</h2>
<p>
    I collect personal information from you when you use either the contact or comments form. This information consists of the name and email address you provide, and your IP address.
    I will publish the name that you provide as part of any comment you post. I will not publish your email address. If you do not agree with this, please do not use the comment feature. I will only use your email address
    to reply to you directly if I feel it is appropriate. I do not share any of the information I collect from you with third parties.
</p>
            


