@{
    ViewBag.Title = "Specialist";
}


<div class="well well-lg">
    <h2><i class="fa fa-user" aria-hidden="true"></i> @ViewBag.Title.</h2>
    <br />

    <div>
        Find an specialist or register your skills etc...
    </div>
</div>

<p>
    @Html.Partial("_SpecialistLink")
</p>



