
@{
    ViewBag.Title = "Terms";
}

<h1>Terms and Conditions</h1>
<p>
    Welcome to our website. 
    
    If you continue to browse and use this website, you are
    agreeing to comply with and be bound by the following terms and conditions of use,
    which together with our privacy policy govern [business name]’s relationship with
    you in relation to this website. If you disagree with any part of these terms and
    conditions, please do not use our website.
</p>
<p>
    The term ‘[business name]’ or ‘us’ or ‘we’ refers to the owner of the website whose
    registered office is [address]. Our company registration number is [company
    registration number and place of registration]. The term ‘you’ refers to the user or
    viewer of our website.
</p>

<p>
    The use of this website is subject to the following terms of use:
    <ul>
        <li>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</li>
        <li>
            This website uses cookies to monitor browsing preferences. If you do allow cookies to be used, personal
            information may be stored by us for use by third parties, for moew information see our privacy policy below.
        </li>
        <lil>
            Neither we nor any third parties provide any warranty or guarantee as to the
            accuracy, timeliness, performance, completeness or suitability of the
            information and materials found or offered on this website for any particular
            purpose. You acknowledge that such information and materials may contain
            inaccuracies or errors and we expressly exclude liability for any such
            inaccuracies or errors to the fullest extent permitted by law.
        </lil>
        <li>
            Your use of any information or materials on this website is entirely at your
            own risk, for which we shall not be liable. It shall be your own responsibility
            to ensure that any products, services or information available through this
            website meet your specific requirements.
        </li>
        <li>
            This website contains material which is owned by or licensed to us. This
            material includes, but is not limited to, the design, layout, look, appearance
            and graphics. Reproduction is prohibited other than in accordance with the
            copyright notice, which forms part of these terms and conditions.
        </li>
        <li>
            All trademarks reproduced in this website, which are not the property of, or
            licensed to the operator, are acknowledged on the website.
        </li>
        <li>
            Unauthorised use of this website may give rise to a claim for damages and/or
            be a criminal offence.
        </li>
        <li>
            From time to time, this website may also include links to other websites.
            These links are provided for your convenience to provide further information.
            They do not signify that we endorse the website(s). We have no responsibility
            for the content of the linked website(s).
        </li>
        <li>
            Your use of this website and any dispute arising out of such use of the website
            is subject to the laws of England, Northern Ireland, Scotland and Wales.
        </li>
    </ul>
</p>

<h2>Copyright notice</h2>

<p>
    This website and its content is copyright of [business name] - © [business name]
    [year]. All rights reserved.

    Any redistribution or reproduction of part or all of the contents in any form is
    prohibited other than the following:

    <ul>
        <li>
            You may print or download to a local hard disk extracts for your personal and
            non-commercial use only.
        </li>
        <li>
            You may copy the content to individual third parties for their personal use, but
            only if you acknowledge the website as the source of the material.
        </li>
        <li>

        </li>
    </ul>

    You may not, except with our express written permission, distribute or commercially
    exploit the content. Nor may you transmit it or store it in any other website or other
    form of electronic retrieval system.
</p>

<h2>Disclaimer</h2>
<p>
    The information contained in this website is for general information purposes only.
    The information is provided by [business name] and while we endeavour to keep the
    information up to date and correct, we make no representations or warranties of any
    kind, express or implied, about the completeness, accuracy, reliability, suitability or
    availability with respect to the website or the information, products, services, or
    related graphics contained on the website for any purpose. Any reliance you place on
    such information is therefore strictly at your own risk.

    In no event will we be liable for any loss or damage including without limitation,
    indirect or consequential loss or damage, or any loss or damage whatsoever arising
    from loss of data or profits arising out of, or in connection with, the use of this
    website.

    Through this website you are able to link to other websites which are not under the
    control of [business name]. We have no control over the nature, content and
    availability of those sites. The inclusion of any links does not necessarily imply a
    recommendation or endorse the views expressed within them.

    Every effort is made to keep the website up and running smoothly. However,
    [business name] takes no responsibility for, and will not be liable for, the website
    being temporarily unavailable due to technical issues beyond our control.
</p>

<h1>Privacy Policy</h1>
<h2>Cookies</h2>
<p>When you visit this site, cookies will be placed on your machine for tracking visitor activity anonymously; targeting advertisements by interest; and remembering user preferences.</p>
<p>
    I set a cookie to remember that you don't want to see the banner at the top of the page that warns you about cookies on this site. If you click the "I'm happy with this" button,
    you will not see this banner on future visits* and you will opt in to having a cookie placed on your machine by me.
</p>
<p>This site makes use of some third party services who also store cookies (Third party cookies) on your machine. These services are</p>
<ul>
    <li><a href="https://tools.google.com/dlpage/gaoptout" target="_blank" title="Open Google Analytics in a seperate window">Google Analytics</a></li>
    <li><a href="https://www.google.com/settings/ads/" target="_blank" title="Open Google AdSense in a seperate window">Google AdSense</a></li>
    <li><a href="http://www.addthis.com/privacy" target="_blank" title="Open AddThis in a seperate window">AddThis</a></li>
</ul>
<p>You can click on each of the services to learn how to opt out of accepting cookies from them.</p>
<p>If you would like more general information on controlling cookies, please visit <a href="http://www.aboutcookies.org/" target="_blank" title="Open aboutcookies in a seperate window">www.aboutcookies.org</a>.</p>
<p>&nbsp;</p>
<p>*Note: cookies are browser-specific. If you visit using a different browser or on another machine, you may see the banner again.</p>
<h2>Personal Information</h2>
<p>
    I collect personal information from you when you use either the contact or comments form. This information consists of the name and email address you provide, and your IP address.
    I will publish the name that you provide as part of any comment you post. I will not publish your email address. If you do not agree with this, please do not use the comment feature. I will only use your email address
    to reply to you directly if I feel it is appropriate. I do not share any of the information I collect from you with third parties.
</p>



















            


